<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../../css/estilos.css}">
    <title>Nuevo Abogado</title>
</head>
<body>
    <h1>Nuevo Abogado</h1>
    <section class="container">
        <form th:object="${abogado}" th:action="@{/abogado/insertar}" method="post" class="formulario">
            <p class="campos"><label for="nombre">Nombre: </label>
                <input type="text" name="nombre" id="nombre" th:field="*{nombre}"/>
            </p>
            <p class="campos">
                <label for="nif">Nif:  </label>
                <input type="text" name="nif" id="nif" th:field="*{nif}"/>
            </p>
            <p class="campos">
                <label for="direccion">Dirección: </label>
                <input type="text" name="direccion" id="direccion" th:field="*{direccion}"/>
            </p>
            <p class="campos">
                <input type="submit" value="Insertar Abogado"/>
            </p>


        </form>
    </section>
    
</body>
</html>